.button {
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-radius: 4px;
}
.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-portfolio {
  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-image: url(../images/xxx.svg);
  background-position: center;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-btn:hover,
.close-btn:focus {
  background-image: url(../images/xxblue.svg);
  outline-color: var(--accent-color);
}
.form .button {
  margin-top: 30px;
}
