.subscribe {
  margin-left: auto;
  margin-top: 72px;
}
.subscribe-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/send.svg);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.checkbox-icon {
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
}

.checkbox:checked ~ .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}
.form-field:focus-within .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  color: var(--accent-color);
  transform: translate(-23px, calc(-100% - 24px));
  font-size: 12px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
}

.form-field:focus-within .form-icon {
  fill: var(--accent-color);
  .form-field:focus-within .form-input {
  outline: 1px solid var(--accent-color);
}

.form-field input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
label a {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-check label {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  position: relative;
}

.textarea-title {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within > textarea {
  outline-color: var(--accent-color);
}

.textarea:focus-within > .textarea-title {
  opacity: 0;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.modal-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  color: var(--title-text-color);
}

.form {
  text-align: center;
}

.develop {
  display: inline-block;
  margin-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* стили для портфолио */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 528px;
  /* width: 100%; */
  padding: 40px;
}
