.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  justify-content: space-between;
  width: 270px;
}
.directions-item {
  position: relative;
}

.directions-item > h3 {
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.directions-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}

.directions-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}
