.social-links {
  display: flex;
  justify-content: center;

  width: 270px;
  margin-bottom: 24px;
}

.social-links-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon .icon {
  fill: currentColor;

  width: 20px;
  height: 20px;
}

.social-links-icon:hover,
.social-links-icon:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}
