.advantages-title {
  margin-bottom: 10px;
  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-title {
  margin-bottom: 50px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-name {
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.join-us {
  display: inline-block;
  margin-bottom: 20px;

  color: $primary-white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
