.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  background-color: $secondary-background-color;
}
.directions {
  padding-top: 0;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
